
body 
{
  background-color: indianred;
  background-image: url("https://wallpapercave.com/wp/fl7obba.jpg");
 background-size: 1920px 1080px;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: timesnewroman;
  font-size: 16px;
}
nav { 
 font-weight: bold;
 font-size: 1.25em;
 float: left;
 width: 17.6%;
 letter-spacing: 0.1em; 
 padding: 20px;}
p { 
 font-size: .90em; 
 line-height: 2 ;}
nav a { 
 text-decoration: none; 
 background-color: #E6E6FA;}
footer { 
 color: #333333;
 font-size: .75em;
 font-style: italic;
 color: #333333;
 font-size: 70%;
 text-align: center;
 padding: 10px;
 background-color: #E6E6FA;
 clear: both;}

.button { 
 border-radius: 60px;
 padding: 15px;
 color: #FFFFFF;
 background-color: #e33d3d;
 font-family: Arial, sans-serif;
 font-size: 1em;
 font-weight: bold;
 text-align: center;
 white-space: normal;
 text-decoration: none;
 border: 2px ridge #330000;}
.button:link { 
 color : white; }
.button:visited { 
 color : white; }
.button:hover { 
 color : black;
background-color: 
 white}
header { 
 background-color: #191970;
 font-size: 150%;
 padding: 10px 10px 10px 155px;
 background-image: url(images/HeaderImage.jpg);
 background-repeat: no-repeat;
 background-size: 200px 200px}

#cap { 
 margin: 0 auto;
 width: 70%;
 min-width: 960px; max-width: 1200px;
 background-color: #000000;

 color: #ff0000; }